<h1>Contacts</h1>

<table>
  <tr>
    <td>Select</td>
    <td>ID</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Prefix</td>
    <td>Email</td>
    <td>Avatar</td>
  </tr>
  <tr *ngFor="let contact of contacts" [ngClass]="{'is-checked': isChecked(contact)}">
    <td>
      <input type="checkbox" (change)="checkOne($event, contact)">
    </td>
    <td>{{ contact.id }}</td>
    <td>{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
    <td>{{ contact.prefix }}</td>
    <td>{{ contact.email }}</td>
    <td><img [src]="contact.avatar" alt="" style="width: 25px;"></td>
  </tr>
</table>
