<h1>Contacts</h1>

<table>
  <tr>
    <th>Select</th>
    <th (click)="sort('id')" [ngClass]="{'is-sorted-by': isSortedBy('id'), 'is-reversed': isSortReversed}" class="sortable">ID</th>
    <th (click)="sort('firstName')" [ngClass]="{'is-sorted-by': isSortedBy('firstName'), 'is-reversed': isSortReversed}" class="sortable">First Name</th>
    <th (click)="sort('lastName')" [ngClass]="{'is-sorted-by': isSortedBy('lastName'), 'is-reversed': isSortReversed}" class="sortable">Last Name</th>
    <th (click)="sort('prefix')" [ngClass]="{'is-sorted-by': isSortedBy('prefix'), 'is-reversed': isSortReversed}" class="sortable">Prefix</th>
    <th (click)="sort('email')" [ngClass]="{'is-sorted-by': isSortedBy('email'), 'is-reversed': isSortReversed}" class="sortable">Email</th>
    <th>Avatar</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let contact of contacts" [ngClass]="{'is-checked': isChecked(contact)}">
    <td>
      <input type="checkbox" (change)="checkOne($event, contact)">
    </td>
    <td>{{ contact.id }}</td>
    <td>{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
    <td>{{ contact.prefix }}</td>
    <td>{{ contact.email }}</td>
    <td><img [src]="contact.avatar" alt="" style="width: 25px;"></td>
    <td>
      <button (click)="move(contact, 'up')" *ngIf="!isFirst(contact)">Up</button>
      <button (click)="move(contact, 'down')" *ngIf="!isLast(contact)">Down</button>
      <button (click)="move(contact, 'first')" *ngIf="!isFirst(contact)">First</button>
      <button (click)="move(contact, 'last')" *ngIf="!isLast(contact)">Last</button>
    </td>
  </tr>
</table>

<ng-container *ngIf="checked">
  <ul>
    <li *ngFor="let checkedItem of checked">
      {{ checkedItem.prefix }} {{ checkedItem.firstName }} {{ checkedItem.lastName }}
    </li>
  </ul>
</ng-container>
