.menu-container {
  position: relative;
}

.menu-button {
  display: inline;
  cursor: pointer;

  i.material-icons {
    pointer-events: none;
  }
}

.menu-body {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  display: none;
  width: 200px;
  z-index: 1;
  background-color: white;

  li {
    padding: 10px 20px;
    list-style: none;

    &:hover {
      background-color: cornflowerblue;
      color: white;
      cursor: pointer;
    }
  }

  &.open {
    display: block;
  }
}
